Numbers

In [1]:
2+4

6

In [2]:
2-3

-1

In [3]:
3*4

12

In [4]:
2**3

8

Modulo or Mod Operator

In [5]:
 50%4 #It gives you remainder

2

In [6]:
#Python is dynamically typed cons is may result in buggs for unexpected data types

In [7]:
    a=5

In [8]:
a

5

In [9]:
a=12

In [10]:
a

12

In [11]:
type(a) #to check the type of variable 'a'

int

In [12]:
#string
#white spaces are counted here
len('hello')

5

In [13]:
len(' I am hungry')

12

In [14]:
#Indexing and Sllicing the string

In [16]:
mystring='Hello World' #indexing start from the 0 while at ending it start from -1

In [17]:
mystring[-3]

'r'

In [18]:
mystring[4]

'o'

In [19]:
mystring='abcdefghijk'

In [20]:
mystring[3:6]#it takes the first (3 rd char=d) and omitted 6 th char(g)

'def'

In [21]:
mystring[::3]#three indicate the step size and it ommit n-1 char

'adgj'

In [22]:
print(mystring[::2])

acegik

In [23]:
mystring[3:5:2]#start stop and step size

'd'

In [24]:
#reversing the string
mystring[::-1]

'kjihgfedcba'

In [25]:
mystring[::-2] #it start from the last and ommit n-1 char each time

'kigeca'

In [26]:
#Srting Properties and Method
#Immutability
name='Sam' # want to change the 's' letter into P then
#name[0]='P' # this won't work at all because string object does not support object assignment
last_latters=name[1:]
'P'+last_latters #Concating the stirng here just using + sign

'Pam'

In [27]:
x='Good Morning all of you'
x+ " How are You"

'Good Morning all of you How are You'

In [28]:
x

'Good Morning all of you'

In [29]:
x.upper()

'GOOD MORNING ALL OF YOU'

In [30]:
x.lower()

'good morning all of you'

In [31]:
p=x.split() #This is split the string into the list based on the white space in or we can adjust it

In [42]:
b='sohanmohan'

In [44]:
b.center(20,"M")#Here we are doing the padding the M and we are making the stirng 20 char in len

'MMMMMsohanmohanMMMMM'

In [46]:
b.count('oh')#it will count the how many times 'oh' char is comming

2

In [48]:
b.startswith("s") #we can find out whether string will start from the s or not
#we can use it where title Mr. mrs and so on title

True

In [49]:
a='I could eat mango all day'

In [50]:
a.partition('eat') #It gives you the list before the 'eat' and eat world and after the eat

('I could ', 'eat', ' mango all day')

In [52]:
a.endswith('day')#this will gives you whether str ends with 'day' or not

True

In [54]:
a.find('eat')#It will tell us where is 'eat'

8

In [32]:
type(p)

list

In [33]:
x='Hi this is the string'
x.split('i')# based on the 'i' we split the string

['H', ' th', 's ', 's the str', 'ng']

In [34]:
#String Formating For printing

In [35]:
print('This is the string {}'.format('Inserted')) #'{}' make space for this and agin mention the value

This is the string Inserted

In [36]:
print('This {} the string'.format('is')) #now we inserted value '{}' Br`cket

This is the string

In [37]:
print('animals are {} {} {}'.format('Lion','Fox','Rabbit'))
#Sequensially it put the value in {} the bracket

animals are Lion Fox Rabbit

In [38]:
print("the {1} {2}".format('fox','Lion','Rabbit')) 
#indexing start from 0 we can reorder it by giving the number init

the Lion Rabbit

In [39]:
print('This is {d} {e} {d}'.format(d='fox',e='Lion'))
#we can assign the variable and replace it

This is fox Lion fox

In [40]:
#Float Formatting syntax=value:width.precision f
result=100/77
result

1.2987012987012987

In [41]:
print('This is the Result {r:10.4f}'.format(r=result))
#number 10 indicate no. of white spaces and 4 indicate how much decimal number you want change wisely

This is the Result     1.2987

In [56]:
#there is anothor method in python 3.6 called f string method
name='Mohan'
age=27
salary=0
print(f'{name} whoes age is {age} and salary {salary}')

Mohan whoes age is 27 and salary 0

In [57]:
#List
#1.We can create list of mix object type 
#we can multiply the list 
my_list=['Mohan',456,123.4]

In [58]:
my_list*2

['Mohan', 456, 123.4, 'Mohan', 456, 123.4]

In [59]:
len(my_list)

3

In [60]:
type(my_list)

list

In [61]:
 #List also have indexing and slicing here. Index start from the 0 as like string
my_list[2]

123.4

In [62]:
my_list[1:] #slicing is the similar to string

[456, 123.4]

In [63]:
#List concatination
my_list2=['one','two','three','four']
my_list3=my_list+my_list2
my_list3

['Mohan', 456, 123.4, 'one', 'two', 'three', 'four']

In [65]:
#List is mutable so we can remove the item or add the item also we can append the item
#in the string we can not reassign the char
#if your list has length of 3 we do assign the char on 5th postion then it will not work we have to
#do appending
my_list[0]='Sonali'
my_list

['Sonali', 456, 123.4]

In [66]:
my_list.append('Mohan')#allows you to add item at last of the list
my_list

['Sonali', 456, 123.4, 'Mohan']

In [68]:
my_list.pop() # is going to remove the last item from the list

123.4

In [69]:
my_list #it permanently removed the item

['Sonali', 456]

In [52]:
#and if you want to pop perticular element from the list then just pass the index of an item
my_list3.pop(1)

456

In [53]:
my_list3#see item is removed who have the index 1

['Mohan', 123.4, 'one', 'two', 'three', 'four']

In [70]:
list1=['r','t','u','l']
list2=[1,3,5,8,4]

In [57]:
list1.sort()#this function returns nothing that is occuring inplace
p=list2.sort()

In [66]:
l1=[1,2,3,(4,5)]
l2=[4,6,7]
l1[3][0]=12
print(l1)
#In this way we can extract the value from the list in tuple but can not modify it

TypeError: 'tuple' object does not support item assignment

In [71]:
#in short when tuple inside the list then only we can extract the vlaue but we can not modify it
#if list is inside the tuple then we can modify the list and extract the tuple
#only one by one we can modify the list which is inside the tuple we can not assign seperate list

In [73]:
l1=(1,2,3,[4,5,6])
l2=[4,6,7]
l1[3][2]=10
print(l1)
#If list in the tuples we can modify it

(1, 2, 3, [4, 5, 10])

In [72]:
from random import shuffle
shuffle(l1)
print('List after shuffling ', l1) 
#In case there is a tuple in the list then this shuffle won't work at all

NameError: name 'l1' is not defined

In [94]:
from random import shuffle
l2=[4,6,7]
shuffle(l2)

# Items has been shuffled

In [95]:
l2

[6, 4, 7]

In [97]:
l1=['1','20','30','40','5','10']

In [98]:
l1.sort()
l1
#Direct sorting won't work here so we have to convert each element into the int then apply sorting

['1', '10', '20', '30', '40', '5']

In [99]:
l1=[int(i) for i in l1]
l1.sort()

In [100]:
l1

[1, 5, 10, 20, 30, 40]

In [101]:
list1#list is sorted

['r', 't', 'u', 'l']

In [102]:
print(list2)#list is sorted but it didn't return anything type(p) is none
print(type(p))

[1, 3, 5, 8, 4]
<class 'list'>

In [103]:
#similarly reverse method also return anything 
list1.reverse()

In [104]:
list1

['l', 'u', 't', 'r']

In [105]:
#we can make nested list i.e. list inside list find the element from the another list list1[2][3]

Dictionary

In [106]:
#It store the information in the key value pair
#without knowing the indenx vlue we can retrive unlike the list
#the data can not be sorted unlike the list
#mention in {}. it can hold the lists, another dictionaries as well
my_d={'Key1': "Mohan",'key2':'Sonali','key3':['are','having','good','understanding']}

In [107]:
#Retriving the value from the dic. in similarly we can retrive value from another dic d[][] lis 
my_d['key2']

'Sonali'

In [110]:
#Python is so flexible convert sonali word into all letters in capitals
my_d

{'Key1': 'Mohan',
 'key2': 'Sonali',
 'key3': ['are', 'having', 'good', 'understanding']}

In [109]:
my_d['key2'].upper() 
#yes we did it instead of this we have to seperate it into the list then use methods of list

'SONALI'

In [111]:
#Adding the element in the dic
my_d['k4']='pawar'

In [112]:
my_d #we add element in the dictionary we overwrite the value as well

{'Key1': 'Mohan',
 'key2': 'Sonali',
 'key3': ['are', 'having', 'good', 'understanding'],
 'k4': 'pawar'}

In [113]:
#check methods of the dictionaries 
#key: retrun all the key similary values
#items: return the key value pair

In [114]:
p=my_d.items()

In [115]:
p

dict_items([('Key1', 'Mohan'), ('key2', 'Sonali'), ('key3', ['are', 'having', 'good', 'understanding']), ('k4', 'pawar')])

In [ ]:
type(p)

In [119]:
my_d.values()

dict_values(['Mohan', 'Sonali', ['are', 'having', 'good', 'understanding'], 'pawar'])

In [ ]:
#Tuples
#very similar to list only difference is tuple is immutable
#we can do indexing and slicing as like list
#It has only two methods count and index

t=(2,5,6,['mohan','pawar'])

In [ ]:
t

In [ ]:
type(t)

Set

In [ ]:
#It is an unorder collection of elements . It contain only unique value
#it also stored different type of data
s={1,2,3,'Mohan',3.5}

In [ ]:
s

Booleans

In [ ]:
#It is just True and False and it is useful when we deal with control folw and logic
#b=None this is also working 
1<2

Files

In [ ]:
#create text file inside the jupyter this is only work inside the jupyter notebook
#below syantax is not working here write it seperatly

In [ ]:
%%writefile myfile.txt
Hello thisis the file 
which is created inside jupyter notebook

In [ ]:
myfile=open('myfile.txt')

In [ ]:
myfile

In [ ]:
myfile.read()

In [ ]:
myfile.read() #this shows because cursor is on the last

In [ ]:
#Move the cursor at start 
myfile.seek(0)

In [ ]:
myfile.read() #Now it's working

In [ ]:
myfile.seek(0)
myfile.readlines() #all the content are in the list later on you can use this to for further analysis

In [ ]:
#to open file in linux open('user/utuser/folder')
#forward slashes

In [ ]:
#after using the file you have to close it else it will show you an error when somewhere u try to open

In [ ]:
myfile.close()#To avoid this issue open this file as new file 
with open('myfile.txt') as newf:
    contents = newf.read()

In [ ]:
contents

In [ ]:
#different modes of file r-read, w-overwrite or create new ,a-append the file ,r+=read + write 
#w+ writing and reading the file (overwrite the exiting file or create new file)

In [ ]:
%%writefile mynewfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

In [ ]:
#appending the file
with open('mynewfile.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [ ]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('dfg.txt',mode='w') as f:
    f.write('I Created This File')

Comparison & Logical Operator

In [ ]:
#logical - and, or, not

Control flow statements
if #some condition 
    #execute set of code
elif some other condition
    #execute some another code
else:
    #do something else

In [ ]:
if True:
    print('Its true')

In [ ]:
hugry= True
if hugry:
    print('Feed me')

In [ ]:
hugry= False
if hugry:#hungry is false here so it wont execute then else statement will be executing
    print('Feed me') 
else:
    print('I am not Hungry')

In [ ]:
loc = 'Bank'
if loc== "Auto shop":
    print('Here is awesome cars')
elif loc =='Bank': #like this you can add multiple conditions here 
    print('money is cool')
elif loc=="store":
    print("store is cool")
else:
    print('I do not know too much')

Loops In Python

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
#varible num represent the numbers in the list you can choose any variable name
x=[]
for num in my_list:
    x.append(num)
    print('Hello')
    print(x)
#each item in the list is here and iterate it no of time to execute set of code

In [ ]:
#now write some block of code using for loop and control flow statement
for num in my_list:
    #put condition using control flow statement for find out even numbers
    if num%2==0:
        print("even number is ",num)
    else: print(F"odd number is:{num}")

In [ ]:
list_sum=0
for num in my_list:
    list_sum=list_sum+num
    
print(f'The sum is {list_sum}')

In [ ]:
#while loops do execute some statement while condition is true you can also add else statement 
x=0
while x<5:
    print(f'value of x is {x}')
    x+=1
else: print("The value x is Greater than five")

In [ ]:
#we condition is alwys true by chance then intrupt the kernal or restart 
x=0
while x<5:
    print(f'value of x is {x}')
    x=5

In [ ]:
#Break : get out of the curren closet loop
#continue: agin start from the closet loop
#pass: pass the loop
x=0
while x<5:
    print(f'value of x is {x}')
    x=x+1
    break #break the loop and get out of it 
else: print("I am out of the Loop")

In [ ]:
x=[1,2,3,4]
for num in x:
    pass# don't do anything at all we can just pass
    print(f'just pass see {num}')#but it execute some set of code under the loop

In [ ]:
for num in x:
    if num==2:
        continue #when num is 2 it just continue to this won't execute the code under the loop
    print('the number without 2 is : ',num)

In [ ]:
#this underscore is also working here
x=0
for _ in 'Mohan':
    x+=1
    print('mohan is printing time',x)

Built in Operator in python

In [ ]:
my_list=[1,2,3,4]

In [ ]:
#range
for num in range(2,20,5):#range it start from 2 and end with 20 with step size 5.
    print(num)

In [ ]:
#this kind of thing is generating the information here
list(range(0,20,4))#list is created here for our insted of typing the whole list here

In [ ]:
#enumerate: it gives the number to the word as per the index 
word='abcde'
for letter in enumerate(word):
    print(letter)

In [ ]:
#just seperate the tuple here
word='abcde'
for index,letter in enumerate(word):
    print(letter)
    print(index)
    print('\n')

In [ ]:
#Zip combine the two things here
a=list(range(1,10,3))
b=list(range(2,10,4))
print(a)
print(b)

In [ ]:
zip(a,b)#zip togeter this two function here

In [ ]:
for item in zip(a,b):
    print(item) 
    #it return you tuple here

In [ ]:
list(zip(a,b))#we can casted into the zip here

In [ ]:
a

In [ ]:
2 in [4,6,7,8] #checking the element in the list use'in' here it is used in dictionary

In [ ]:
2 in [4,2,7,8]

In [ ]:
d={'k1':'mohan'}
print('k1' in d.keys())
print('mohan'in d.values())

In [ ]:
from random import shuffle

In [ ]:
my_list=list(range(10,100,10))

In [ ]:
my_list

In [ ]:
min(my_list)

In [ ]:
max(my_list)

In [ ]:
shuffle(my_list)#this return nothing here

In [ ]:
my_list

In [ ]:
from random import randint

In [ ]:
my_rand=randint(0,100)#it return random number from 0 to 100

In [ ]:
my_rand

In [ ]:
#taking the input from the user 
input('Enter the input here:')

In [ ]:
result=input("Enter your favourate Number is :")
#always return the str latter on we have to convert into the other data type

In [ ]:
result

In [ ]:
int(result)

List Comprehension

In [ ]:
#insted of writting whole code such as for loop and all the things just do following 
my_string="Hello"
list1=[latter for latter in my_string] #insted of writting append function

In [ ]:
list1

In [ ]:
my_string="Hello"
list1=[latter*2 for latter in my_string]#we can do somesort of operation here

In [ ]:
list1

In [ ]:
my_string="Hello"
list2=[latter*2 for latter in my_string if 'l'=='l']

In [ ]:
list2

Functions

In [ ]:
def name_fuc(name):
    '''this is the just function who printing the hello name'''#this info for help of this function
    print('hello' + name)
    #return 'hello'+ name

In [ ]:
help(name_fuc)

In [ ]:
#if you just call the fuction and if it does not contain any return then it won't return anything
result=name_fuc('mohan')

In [ ]:
type(result) #it return anything here unless we return something from the function

In [ ]:
#use of function to solve the problem 
#find out that is there is a dog in the string 
def dog_find(str1):
    if 'dog' in str1.lower():
        return True
    else : return False

In [ ]:
my_str='this is the Dog'
dog_find(my_str)

def dog_find(str1):
     return 'dog' in str1.lower(): 
this is the same as above because the statement dog in str1.lower()it self is the boolean

In [ ]:
#Pig Lattin language 
#if word start with vowel then add 'ay' to the end 
#if word does not start with vowel then add first letter into last then add ay to it
def pig_latin(word):
    if word in 'aeiou':
        pig_word=word+'ay'
    else:
        pig_word=word[1:]+word[0]+'ay'
    return pig_word

In [ ]:
pig_latin('mango')

In [ ]:
#*args and *kwargs 
#*args is to pass the any number of value here in function insted of def xyt(a,a,a,a)
def sum_of(*args):
    print(sum(args))

In [ ]:
sum_of(12,13,45,67,8,9,2,32,12,22,33,56)

In [7]:
#enumerate function this is used for number the elements it return the value in tuple
l1 = ["eat","sleep","repeat"] 
s1 = "geek"
enumerate(l1)
print(list(enumerate(s1,2))) #start numbering from the 2

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [4]:
list(enumerate(l1))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [8]:
#in Loop in the elements
for ele in enumerate(l1):
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [10]:
#In Loop if you want to change the count the number then
for count, ele in enumerate(l1,100):
    print(count, ele)

100 eat
101 sleep
102 repeat

stack and unstack functions
Reshaping the data using stack() function in pandas converts the data into stacked format .i.e. the column is stacked row wise. When more than one column header is present we can stack the specific column header by specified the level.

In [11]:
import pandas as pd
import numpy as np
 
header = pd.MultiIndex.from_product([['Semester1','Semester2'],['Maths','Science']])
d=([[12,45,67,56],[78,89,45,67],[45,67,89,90],[67,44,56,55]])
 
 
df = pd.DataFrame(d,
                  index=['Alisa','Bobby','Cathrine','Jack'],
                  columns=header)
df

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [12]:
stacked_df=df.stack()
stacked_df
#Convert this math science column in row

                  Semester1  Semester2
Alisa    Maths           12         67
         Science         45         56
Bobby    Maths           78         45
         Science         89         67
Cathrine Maths           45         89
         Science         67         90
Jack     Maths           67         56
         Science         44         55

In [14]:
unstack_df=stacked_df.unstack()
unstack_df
#just bring back the original data frame here

         Semester1         Semester2
             Maths Science     Maths Science
Alisa           12      45        67      56
Bobby           78      89        45      67
Cathrine        45      67        89      90
Jack            67      44        56      55

In [16]:
stacked_df_lvl=df.stack(level=0)
stacked_df_lvl

                    Maths  Science
Alisa    Semester1     12       45
         Semester2     67       56
Bobby    Semester1     78       89
         Semester2     45       67
Cathrine Semester1     45       67
         Semester2     89       90
Jack     Semester1     67       44
         Semester2     56       55

In [17]:
unstacked_df1 = stacked_df_lvl.unstack()
unstacked_df1

             Maths             Science
         Semester1 Semester2 Semester1 Semester2
Alisa           12        67        45        56
Bobby           78        45        89        67
Cathrine        45        89        67        90
Jack            67        56        44        55